.movie {
    margin-bottom: 20px;
    cursor: pointer;
    width: 220px;
  }
  
  .movie img {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 220px;
  }
  
  .movie .score {
    width: 235px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  
  .movie .score p {
    margin-top: -40px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #032541;
    border: solid 3px white;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
  }
  
  .movie h5 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #032541;
    font-size: 20px;
  }
  
  .movie:hover img {
    -webkit-box-shadow: rgba(0, 0, 0, 0.55) 8px 8px 5px;
    box-shadow: rgba(0, 0, 0, 0.55) 8px 8px 5px;
  }
  
  .movie:hover h5 {
    text-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
  }
  
  .movie a {
    display: block;
    text-decoration: none;
    color: black;
  }